.hide {
  display: none;
}
.car {
  width: 50px;
  height: 100px;
  background: transparent url("./image/player.png") center / cover no-repeat;
}
button {
  background-color: cornflowerblue;
  font-size: 18px;
  border: 0;
  color: #fff;
  padding: 8px 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
